	<div id="tLine" class="tLine fontFamily">
	<div class="vLine">
		<%= image_tag( 'big-dot.png', :alt => "Beginning", :class => 'bigDot') %>
	</div>
	<form id="submit_form" method="post" action="/messages/create" class="formPos">
		<select class="select" id="user_params[user_id]" name="user_params[user_id]">
			<option value="1">Saeed</option>
			<option value="2">Amir</option>
			<option value="3">Sadegh</option>
			<option value="4">Hamed</option>
			<option value="5">Pouria</option>
		</select><br />
		<input id="user_params[msg]" type="text" name="user_params[msg]" class="roundLeft textBox" /> 
		<input id="submitButton" class="roundRight button fontFamily" type="submit" value="Submit Query" onmouseover="mouseoverButtonOver();" onmouseout="mouseoverButtonOut();"/>
	</form>
	<div class="blankBox"></div>
	<div id="messagesBox" class="messagesBox bgY">
		<div class="messageBoxBg op-60"></div>
		<ul>	
			<% @messages.reverse.each do |message| %> 
			 	<div class="dot"></div>
				<% a = [] %>
				<% a = message["created_at"].to_s.split(/[\s|\:|\ |-]/) %>
			 	<% pic_address = @our_names[ message["user_id"]] + ".jpg" %>
			 	<%= image_tag(pic_address, :alt => "Profile Picture", :class => 'profilePic round') %>
			 	<li class="shiftRight">
			  		<p class="msgAuthor"><%= @our_names[ message["user_id"]] + " at " + a[3] + ":" + a[4] %></p> 
			  		<p> <%= message["msg"] %> </p>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="bgY footerVline"></div>
	<div class="footer"><%= image_tag( 'big-dot.png', :alt => "End") %> 
		<span class="fontFamily copyRight">kelasiTline &copy 2013</span>
	</div>
</div>