<% content_for :head do%>
  <%= stylesheet_link_tag "post" %>
<% end %>
<div class="menubar-hidden-field">&nbsp;</div>
<% if @user[:name] != "Anonymous" %>
  <div class="user-name"><%= @user[:name]%></div>
  <div class="user-name menubar-logout"><a href='/logout'>logout</a></div>
<% end %>
<hr>
<div id="tLine" class="tLine fontFamily">

  <div class="vLine">
    <%= image_tag( 'big-dot.png', :alt => "Beginning", :class => 'bigDot') %>
  </div>

  <div class="formPos">
    <%= form_tag "/posts", method: "post", id: "messageForm" do %>
      <input type="text" id="msg" name="msg" class="roundLeft textBox" /> 
      <input type="hidden" id="dir" name="dir" value="0">
      <input type="submit" id="submitButton" class="roundRight button fontFamily" value="Submit Query"/>
    <% end %>
  </div>

  <div class="blankBox bgY"></div>

  <div id="messagesBox" class="messagesBox bgY">

    <ul>	
      <% @posts.each do |message| %> 
        <div class="msgblock">
          <div class="dot"></div>

          <% a = message["created_at"].to_s.split(/[\s:-]/) %>
          <% pic_address = message.user.name + ".jpg" %>
          <%= image_tag(pic_address, :alt => "Profile Picture", :class => 'profilePic round') %>

          <li class="shiftRight">
				 		<div class="deleteButton postDelButton"></div>
            <p class="msgAuthor">
              <%= message.user.name + " at " + a[3] + ":" + a[4] %>
            </p>
            <div class="msgContainer <%= "right2left" if (message['dir'] == 1) %>"> <%= message["msg"] %> </div>
            <input type="hidden" value="<%= message['id'] %>" >
          </li>
        </div>

        <% message.replies.reverse.each do |reply| %>
          <li class="replyBox">
            <% pic_address = reply.user.name + ".jpg" %>
            <%= image_tag(pic_address, :alt => "Profile Picture", :width => '30px', :height => '30px', :class => 'replyPic round') %>
						<div class="deleteButton"></div>
            <div class="repTimeBox">
              <% repTime = reply["created_at"].to_s.split(/[\s:-]/) %>
              <%= reply.user.name + " at " + repTime[3] + ":" + repTime[4] %>
            </div>
            <div class="replyMsgBox  <%= 'right2left' if ( reply[:dir] == 1 ) %>">
              <%= reply[:msg] %>
            </div>
						<input type="hidden" value="<%= reply['id'] %>" >
          </li>
        <% end %>

        <div class="commentBox op-50">
          <%= form_tag "/posts", id: "replyForm", method: "post" do %>
            <input type="text" id="msg" name="msg" class="repTextBox roundLeft" />
            <input type="hidden" id="dir" name="dir" value="0">
            <input type="hidden" id="parent_id" name="parent_id" value="<%= message[:id] %>" >
            <input type="submit" id="repSubmitButton" class="roundRight repButton fontFamily" value="Reply"/><br />
          <% end %>
        </div>

      <% end %>

    </ul>
  </div>

  <div class="bgY footerVline"></div>

  <div class="footer">
    <%= image_tag( 'big-dot.png', :alt => "End") %>
    <span class="fontFamily copyRight">kelasiTline &copy 2013</span>
  </div>
</div>
