= link_to "Home", root_path, :class => 'brand'

%ul.nav
  - if logged_in?
    %li
      = link_to('Logout', logout_path)
  - else
    %li
      = link_to('Login', login_path)
  - if logged_in?
    %li
      = link_to('Edit account')
  - else
    %li
      = link_to('Sign up')