!!! 5
%html(ng-app="timeline")
  %head
    %meta( charset="utf-8" )
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}

    %title= "kelasiTline#{content_for?(:title) ? titleize(yield :title) : ''}"

    = javascript_include_tag "timeline-layout"

    = stylesheet_link_tag "bootstrap_and_override", :media => "all"
    = stylesheet_link_tag "timeline-layout", :media => "all"

    = csrf_meta_tags

    - if content_for? :head
      = yield :head

  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav
        = render 'layouts/navigation'
    %sidebar(ng-cloak)
      = render 'timeline_left_sidebar'

    #main{:role => "main"}
      = render 'layouts/messages'
      .row
        .col-md-8
          = yield
        .col-md-4
          = render 'timeline_right_sidebar'

    - if content_for? :script
      = yield :script
