!!! 5
%html(ng-app="timeline")
  %head
    %meta( charset="utf-8" )
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet")


    %title= "kelasiTline#{content_for?(:title) ? titleize(yield :title) : ''}"

    = javascript_include_tag "timeline-layout"

    = stylesheet_link_tag "bootstrap_and_override", :media => "all"
    = stylesheet_link_tag "timeline-layout", :media => "all"

    = csrf_meta_tags

    - if content_for? :head
      = yield :head

  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        = render 'layouts/navigation'
    %sidebar(ng-cloak)
      = render 'timeline_left_sidebar'

    / - if Rails.env.development?
    /   %pre( style="position:fixed;bottom:0" )= session.to_yaml

    #main{:role => "main"}
      = render 'layouts/messages'
      .row-fluid
        .span8
          = yield
        .span4
          = render 'timeline_right_sidebar'

    - if content_for? :script
      = yield :script
